Repository juniverse1103/chamber-fm: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && next lint --fix, cd apps/api && eslint --fix, pnpm format:fix

.lintstagedrc.json:

{
  "apps/web/app/**/*.{js,jsx,ts,tsx}": [
    "cd apps/web && next lint --fix"
  ],
  "apps/api/src/**/*.{js,jsx,ts,tsx}": [
    "cd apps/api && eslint --fix"
  ],
  "apps/web/app/**/*.{json,css,md}": [
    "pnpm format:fix"
  ],
  "apps/api/src/**/*.{json,css,md}": [
    "pnpm format:fix"
  ]
}

chore: remove deprecated husky lines and cleanup api eslint config
  .husky/commit-msg
  apps/api/eslint.config.js
Due: none

fix(api): ensure all src .ts files are linted in CI
  apps/api/.eslintignore
  apps/api/package.json
Due: none

fix(api): use ignores property for ESLint v9+ flat config
  apps/api/eslint.config.js
Due: none

fix(api): migrate ESLint config to v9+ flat config format
  apps/api/eslint.config.js
Due: none

fix(api): use only flat config block for ESLint v9+ compatibility
  apps/api/eslint.config.js
Due: none

fix(api): remove invalid eslint-plugin-eslint-recommended from flat config
  apps/api/eslint.config.js
Due: none

fix(api): provide actual parser object to ESLint flat config
  apps/api/eslint.config.js
Due: none

chore: update root package.json with latest dependencies
  package.json
Due: none

fix(api): remove deprecated .eslintignore, rely on eslint.config.js ignores
  apps/api/.eslintignore
Due: none

docs: update development workflow and code quality section in README
  README.md
Due: none

feat(web): configure project and initial layout
  apps/web/.eslintrc.json
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
Due: cd apps/web && next lint --fix, pnpm format:fix

feat(web): add voice recorder feature and homepage
  apps/web/app/page.tsx
  apps/web/components/README.md
  apps/web/components/features/README.md
  apps/web/components/features/voice-recorder/README.md
  apps/web/components/features/voice-recorder/VoiceRecorder.tsx
  apps/web/components/features/voice-recorder/components/UIMachine.tsx
  apps/web/components/features/voice-recorder/components/controls/ActionButton/index.tsx
  apps/web/components/features/voice-recorder/components/controls/RecordedControls/index.tsx
  apps/web/components/features/voice-recorder/components/controls/RecordingControls/index.tsx
  apps/web/components/features/voice-recorder/components/controls/index.ts
  apps/web/components/features/voice-recorder/components/display/Playbar/index.tsx
  apps/web/components/features/voice-recorder/components/display/RecordingTime/index.tsx
  apps/web/components/features/voice-recorder/components/display/WaveformBar/Waveform.tsx
  apps/web/components/features/voice-recorder/components/display/WaveformBar/index.tsx
  apps/web/components/features/voice-recorder/components/display/index.ts
  apps/web/components/features/voice-recorder/components/states/IdleUI/index.tsx
  apps/web/components/features/voice-recorder/components/states/PausedUI/index.tsx
  apps/web/components/features/voice-recorder/components/states/RecordedUI/index.tsx
  apps/web/components/features/voice-recorder/components/states/RecordingUI/index.tsx
  apps/web/components/features/voice-recorder/components/states/index.ts
  apps/web/components/features/voice-recorder/components/status/StatusDescription/index.tsx
  apps/web/components/features/voice-recorder/components/status/StatusGuide/index.tsx
  apps/web/components/features/voice-recorder/components/status/StatusHeader/index.tsx
  apps/web/components/features/voice-recorder/components/status/index.ts
  apps/web/components/features/voice-recorder/index.ts
  apps/web/components/features/voice-recorder/lib/constants.ts
  apps/web/components/features/voice-recorder/lib/hooks/useVoiceRecorder.ts
  apps/web/components/features/voice-recorder/lib/types.ts
  apps/web/components/features/voice-recorder/lib/utils.ts
  apps/web/components/layout/Footer/index.tsx
  apps/web/components/layout/Header/index.tsx
  apps/web/components/layout/README.md
  apps/web/components/layout/index.ts
  apps/web/components/ui/Button/index.tsx
  apps/web/components/ui/FeatureCard/index.tsx
  apps/web/components/ui/IconBox/index.tsx
  apps/web/components/ui/README.md
  apps/web/components/ui/Section/index.tsx
  apps/web/components/ui/index.ts
Due: cd apps/web && next lint --fix

feat(brand): add site logo, favicons, and asset guidance
  apps/web/app/apple-touch-icon.png
  apps/web/app/favicon.ico
  apps/web/app/icon.png
  apps/web/components/layout/Header/index.tsx
  apps/web/public/README.md
  apps/web/public/logo.png
  apps/web/public/logo.svg
Due: none

chore: enable remote access to dev server by binding to all network interfaces
  apps/web/package.json
Due: none

refactor(theme): unify color palette around new primary color
  apps/web/app/globals.css
  apps/web/components/features/voice-recorder/VoiceRecorder.tsx
  apps/web/components/features/voice-recorder/components/controls/ActionButton/index.tsx
  apps/web/components/features/voice-recorder/components/display/Playbar/index.tsx
  apps/web/components/features/voice-recorder/components/states/IdleUI/index.tsx
  apps/web/components/features/voice-recorder/components/status/StatusHeader/index.tsx
  apps/web/components/layout/Footer/index.tsx
  apps/web/components/layout/Header/index.tsx
  apps/web/components/ui/Button/index.tsx
  apps/web/tailwind.config.js
Due: pnpm format:fix

style: update color variable comment for primary-light
  apps/web/app/globals.css
Due: pnpm format:fix

refactor(theme): eliminate all hardcoded hex values from components
  apps/web/app/globals.css
  apps/web/components/features/voice-recorder/VoiceRecorder.tsx
  apps/web/components/features/voice-recorder/components/controls/ActionButton/index.tsx
  apps/web/components/ui/Button/index.tsx
  apps/web/components/ui/Section/index.tsx
  apps/web/tailwind.config.js
Due: pnpm format:fix

fix(ui): center align status guide text on mobile
  apps/web/components/features/voice-recorder/components/display/Playbar/index.tsx
  apps/web/components/features/voice-recorder/components/states/RecordedUI/index.tsx
Due: none

fix(ui): center align all StatusGuide text in voice recorder states
  apps/web/components/features/voice-recorder/components/states/IdleUI/index.tsx
  apps/web/components/features/voice-recorder/components/states/PausedUI/index.tsx
  apps/web/components/features/voice-recorder/components/states/RecordingUI/index.tsx
Due: none

fix(ui): resolve voice recorder padding on narrow screens
  apps/web/components/features/voice-recorder/VoiceRecorder.tsx
Due: none

feat(auth): implement passwordless email authentication
  apps/api/prisma/migrations/20250621102017_/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/web/app/(auth)/actions.ts
  apps/web/app/(auth)/signin/page.tsx
  apps/web/app/(auth)/verify-request/page.tsx
  apps/web/app/(protected)/dashboard/page.tsx
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/app/layout.tsx
  apps/web/auth.ts
  apps/web/components/auth/SignInForm.tsx
  apps/web/components/auth/SignOutButton.tsx
  apps/web/components/layout/Header/index.tsx
  apps/web/components/providers/SessionProvider.tsx
  apps/web/components/ui/Button/index.tsx
  apps/web/lib/prisma.ts
  apps/web/middleware.ts
Due: cd apps/web && next lint --fix

fix(docker): resolve build and runtime environment errors
  apps/web/Dockerfile
  apps/web/next.config.js
  apps/web/package.json
  chamber-fm-monorepo@
  docker-compose.yml
  package.json
  pnpm
Due: none

feat: Improve auth flow and fix critical bugs
  apps/web/.eslintrc.json
  apps/web/app/(auth)/signin/page.tsx
  apps/web/app/page.tsx
  apps/web/components/layout/Header/index.tsx
  apps/web/lib/prisma.ts
  apps/web/package.json
Due: cd apps/web && next lint --fix

chore: remove husky commit-msg hook configuration
  .husky/commit-msg
Due: none

build: update Prisma schema path to use api directory schema
  apps/web/package.json
Due: none

style: update logo with white fill and regenerate app icons
  apps/web/app/apple-touch-icon.png
  apps/web/app/icon.png
  apps/web/public/logo.png
  apps/web/public/logo.svg
Due: none

style: adjust logo dimensions and add priority loading on signin page
  apps/web/app/(auth)/signin/page.tsx
Due: cd apps/web && next lint --fix

chore: update sign-in page tagline to emphasize AI voice inbox
  apps/web/app/(auth)/signin/page.tsx
Due: cd apps/web && next lint --fix

feat: Refactor layout, fix UI bugs, and improve DX
  apps/web/app/(main)/layout.tsx
  apps/web/app/(main)/page.tsx
Due: cd apps/web && next lint --fix

feat(auth): Implement and refine mocked email authentication flow
  apps/web/app/(auth)/signin/page.tsx
  apps/web/app/(auth)/verify-request/VerifyRequestClientPage.tsx
  apps/web/app/(auth)/verify-request/page.tsx
  apps/web/app/(protected)/dashboard/page.tsx
  apps/web/app/layout.tsx
  apps/web/components/auth/SignInForm.tsx
  apps/web/components/layout/Header/index.tsx
  apps/web/components/providers/MockSessionProvider.tsx
  apps/web/middleware.ts
Due: cd apps/web && next lint --fix

style: adjust vertical padding on verification email message container
  apps/web/app/(auth)/verify-request/VerifyRequestClientPage.tsx
Due: cd apps/web && next lint --fix

feat: add email verification success state and dynamic dashboard button
  apps/web/app/(auth)/verify-request/VerifyRequestClientPage.tsx
Due: cd apps/web && next lint --fix

feat: improve auth flow with better error handling and loading states
  apps/web/app/(auth)/verify-request/VerifyRequestClientPage.tsx
  apps/web/app/(protected)/dashboard/page.tsx
  apps/web/app/terms/page.tsx
  apps/web/components/auth/SignOutButton.tsx
Due: cd apps/web && next lint --fix

feat: enable mock session in all environments and add detailed dev error UI
  apps/web/app/(protected)/dashboard/page.tsx
Due: cd apps/web && next lint --fix

refactor: simplify dashboard auth error handling and session fallback logic
  apps/web/app/(protected)/dashboard/page.tsx
Due: cd apps/web && next lint --fix

chore: add check script and simplify SignOut callback URL handling
  apps/api/package.json
  apps/web/components/auth/SignOutButton.tsx
  apps/web/package.json
  package.json
Due: none

refactor: improve sign-out flow using manual router navigation instead of callback URL
  apps/web/components/auth/SignOutButton.tsx
Due: none

chore: temporarily disable next-auth signOut and use direct homepage redirect
  apps/web/components/auth/SignOutButton.tsx
Due: none
