Repository juniverse1103/chamber-fm: changes, and which lint-staged commands are due for each by the changed paths.
All: cd apps/web && next lint --fix, cd apps/api && eslint --fix, pnpm format:fix

.lintstagedrc.json:

{
  "apps/web/app/**/*.{js,jsx,ts,tsx}": [
    "cd apps/web && next lint --fix"
  ],
  "apps/api/src/**/*.{js,jsx,ts,tsx}": [
    "cd apps/api && eslint --fix"
  ],
  "apps/web/app/**/*.{json,css,md}": [
    "pnpm format:fix"
  ],
  "apps/api/src/**/*.{json,css,md}": [
    "pnpm format:fix"
  ]
}

git commit -m "feat(auth): complete and polish user profile form" -m "This commit finalizes the frontend for the Complete Profile page.
  apps/web/app/(auth)/verify-request/VerifyRequestClientPage.tsx
  apps/web/app/(protected)/complete-profile/page.tsx
  apps/web/app/globals.css
  apps/web/components/auth/CompleteProfileForm.tsx
Due: cd apps/web && next lint --fix, pnpm format:fix

fix: simplify username validation error and placeholder text
  apps/web/components/auth/CompleteProfileForm.tsx
Due: none

feat: add live preview of username in profile URL during registration
  apps/web/components/auth/CompleteProfileForm.tsx
Due: none

style: remove trailing periods from UI text in auth forms
  apps/web/components/auth/CompleteProfileForm.tsx
  apps/web/components/auth/SignInForm.tsx
Due: none

feat: enforce lowercase usernames and update validation regex
  apps/web/components/auth/CompleteProfileForm.tsx
Due: none

chore: update username input placeholder to allow uppercase letters
  apps/web/components/auth/CompleteProfileForm.tsx
Due: none

feat: disable button interaction when email is not verified
  apps/web/app/(auth)/verify-request/VerifyRequestClientPage.tsx
Due: cd apps/web && next lint --fix
